@tailwind base;
@tailwind components;
@tailwind utilities;

.background-image {
    background-image: url("./assets/img/background.jpg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

.avatar {
    max-width: 300px;
    height: auto;
}